*{
	font-size: 24px;
}

header 	ul {
    list-style-type: none;
}
header li{
	list-style-type:none;
}
body {
	background: #eeeeee;
	color: #666666;
}
.navbar { margin-bottom: 10px }

.navbar-brand {
  font-size: 28px;
}

.navbar .navbar-inner {
	border-radius: 0px 0px 3px 3px;
}

#content {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
}

.small-pic img{
	max-width: 200px;
	max-height: 100%;
	padding: 10px;
}

.col-sm-9 .checkbox-inline {
	padding-top:8px;
}

.radio{
	padding-top:8px;
}

input[type='radio'], input[type='checkbox'] {
    transform: scale(2);
    margin-right: 12px;
}

.radio_spacing{
	padding-top:8px;
	margin-right:40px;
}
/*.form-inline select, input{
	
}

.form-inline label{
	width: 100%;
}
*/

.animal_profile {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}

.big-pic img{
	max-width: 400px;
	max-height: 100%;
	padding: 10px;
}

